@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
    background-color: #e0e0e0;
    margin: 0;
    padding: 20px;
}


.box {
    width: 420px;
    min-height: 480px;
    margin: 40px auto;
    padding: 32px 24px 24px 24px;
    border-radius: 16px;
    background: #f9f9f9;
    box-shadow: 0 4px 24px #0002;
    text-align: center;
}

.gomb {
    background: #1976d2;
    color: #fff;
    font-size: 1.5rem;
    padding: 8px 16px;
    margin: 0 8px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 6px #0001;
    cursor: pointer;
    transition: background 0.2s;
    vertical-align: middle;
}

.gomb:disabled {
    background: #bdbdbd;
    color: #fff;
    cursor: not-allowed;
}

.idezetkocka {
    width: 100%;
    min-height: 110px;
    max-height: 140px;
    background: #ededed;
    border-radius: 8px;
    margin: 24px auto 24px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 1.25rem;
    padding: 18px 12px;
    box-sizing: border-box;
    box-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;

}

#idezet {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 8px;
    color: #222;
    text-shadow: none;
}

#szerzo {
    font-size: 1rem;
    font-style: italic;
    color: #444;
    text-shadow: none;
}

#hozzaad {
    background: #f77c08;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 22px;
    margin: 0 8px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 4px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    cursor: pointer;
    transition: background 0.2s;
}

#hozzaad:hover {
    background: #e67307;
}

#kedvencekLista {
    margin-top: 32px;
    text-align: left;
}

#kedvencekLista h2 {
    font-size: 1.15rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 12px;
    text-align: left;
    text-shadow: none;
}

.kedvenc-idezet {
    background: #fff7e6;
    color: #ffffff;
    border-radius: 6px;
    padding: 10px 14px;
    margin-bottom: 10px;
    font-size: 1rem;
    box-shadow: 0 1px 4px #0001;
}

.kedvenc-idezet span {
    color: #c2bfbf;
    font-style: italic;
    font-size: 0.95rem;
}
